body {
    background-color: #9B835F;
  }
  
  .logo {
    
    size: 50px;
  }
  
  .choice-hover:hover {
    transform: scale(1.7);
  }
  
  .choice-player {
    max-width: 100px;
    height: auto;
    margin: 30px;
    cursor: pointer;
  }
  
  .choice-com {
    max-width: 100px;
    height: auto;
    margin: 30px;
  }
  
  .player {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 100px;
  }
  
  .vs {
    color: #BD0000;
    font-size: 100px;
    font-weight: bolder;
    font-family: sans-serif;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .win-player,
  .win-com {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 100px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 15px;
    background-color: #4C9654;
    transform: rotate(-20deg);
    height: 50px;
    padding-top: 3px;
    margin-bottom: 8px;
  }
  
  .win-player {
    display: none;
  }
  
  .win-com {
    display: none;
  }
  
  .draw {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 102px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 15px;
    background-color: #4C9654;
    transform: rotate(-20deg);
    height: 100px;
    padding-top: 3px;
    margin-bottom: 3px;
  }
  
  .draw {
    display: none;
  }

  .header {
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    color: #F9B23D;
    margin-left: 4px;
    margin-top: 2px;
  }
  
  .box {
    text-align: center;
  }
  
  .result {
    text-align: center;
  }
  
  input {
    color: none 
  }
  
  .figure {
    height: 50px;
    text-align: center;
  }
  
  .chosen {
    background-color: #C4C4C4;
    border-radius: 2px;
  }
  
 
    .refresh {
    text-align: center;
  }
  
  .refresh-btn {
    max-width: 50px;
    height: auto;
    cursor: pointer;
  }
  
  .refresh-btn:hover {
    transform: scale(1.7);
  }
  
  @media (max-width: 1280px) {
    .vs {
      margin-top: 5px !important;
    }
  }